<mat-card>
    <mat-card-content>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter email address">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter password">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Role</mat-label>
                <mat-select>
                    <mat-option *ngFor="let r of role" [value]="r.value">
                        {{r.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-flat-button color="primary" class="example-full-width">Login</button>
        </form>
    </mat-card-content>
</mat-card>