<mat-card>
    <mat-card-content>
        <form class="example-form">
            <div class="flex-container">
                <mat-form-field class="example-full-width">
                    <mat-label>FirstName</mat-label>
                    <input matInput placeholder="Enter first name">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>LastName</mat-label>
                    <input matInput placeholder="Enter last name">
                </mat-form-field>
            </div>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter email address">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Contact No</mat-label>
                <input matInput placeholder="Enter contact no.">
            </mat-form-field>
            <button mat-raised-button color="primary" class="example-full-width">Register</button>
        </form>
    </mat-card-content>
</mat-card>